@model KarateMVC.Models.Eventi

@{
    ViewBag.Title = "Gestione eventi";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cancella</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pubblica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pubblica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approfondimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approfondimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Galleria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Galleria)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
