@model KarateMVC.Models.Eventi

@{
    ViewBag.Title = "Gestione eventi";
}

<h2>@ViewBag.Title</h2>
<h4>Galleria fotografica</h4><hr/>
    <div>
        <h3>
            @Html.ActionLink(" ", "Index", null, new {@class= "glyphicon glyphicon-arrow-left" })
            <span class="badge">Id: @Html.DisplayFor(model => model.Evento_Id, null)</span>
            @Html.DisplayFor(model => model.Titolo)
        </h3>
    </div>
@using (Html.BeginForm("EditImg", "Eventis", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="files" id="file" multiple /><br>
    <input type="submit" value="Upload Image" class="btn btn-primary" />
    <br>
    @ViewBag.Message
}
<div class="row">
</div>
<hr />
<div class="row">
    @foreach (var item in ViewBag.Immagini)
    {
        var filename = Path.GetFileName(item);
        <div class="col col-md-2 text-center">
                <span class="galla1">
                    <a href="@Url.Action("DeleteImg", "Eventis", new { id = Model.Evento_Id, file = @filename})">Cancella</a>
                    <a href="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + @filename)">Scarica</a>
                    <a href="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + @filename)" data-lightbox="example-set"><img class="example-image" src="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + @filename)" alt="" /></a>
                </span>
        </div>
    }

</div>
<h3>
    @Html.ActionLink(" ", "Index", null, new { @class = "glyphicon glyphicon-arrow-left" })
</h3>
