@model KarateMVC.Models.SquadraDett

@{
    ViewBag.Title = "Aggiungi componenti alla squadra";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="control-label col-md-2"></div>
            <div class="col-md-10">
                @foreach (var item in ViewBag.Squadra)
                {
                    <h2>@item.Anno - @item.NomeSquadra</h2>

                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id, "Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model=>model.Id, new SelectList(ViewBag.Allievi, "Id", "Nome"), new {@class="form-control", size = ViewBag.AllieviCount})
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aggiungi" class="btn btn-success" />
                <a href="@Url.Action("Edit", "Squadres", new {id = Request.QueryString["squadra"] })" class="btn btn-danger">Annulla</a>
            </div>
        </div>
    </div>
}

