@model KarateMVC.Models.SquadraDett

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SquadraDett</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeSquadra.NomeSquadra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeSquadra.NomeSquadra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SquadraDett_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
