@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Dettaglio ruolo";
}

<h2>@ViewBag.Title <strong>@Model.Name</strong></h2>
@if (ViewBag.UserCount == 0)
{
    <p>No users found in this role.</p>
    <hr />
}

<table class="table table-hover">

    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                <img class="img-usr" src="@Url.Content("~/Content/Immagini/FotoIscritti/" + @item.Id + ".jpg")" /> - @item.Nome
            </td>
        </tr>
    }
</table>
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


