@model KarateMVC.Models.Squadre

@{
    ViewBag.Title = "Edit";
}

<h2>Modifica squadre</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Squadra_id)

        <div class="form-group">
            @Html.LabelFor(model => model.Anno, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Anno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Anno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeSquadra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeSquadra, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomeSquadra, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 pull-left text-center">
                <a href="@Url.Action("Create", "SquadraDetts", new {squadra = Model.Squadra_id })"><span class="glyphicon glyphicon-plus h2 text-info"></span></a>
            </div>

                @foreach (var item in Model.Squadres)
                {
                    <div class="col-md-1 pull-left text-center">
                        <a href="@Url.Action("Delete", "SquadraDetts", new { id = item.SquadraDett_id, squadra = Model.Squadra_id })"><span class="glyphicon glyphicon-remove text-danger"></span></a><br />
                        <img class="img-usr" src="@Url.Content("/Content/Immagini/FotoIscritti/" + @item.Id  + ".jpg")" /><br />
                        <br />
                        @item.Nome.Nome


                    </div>
                }
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            </div>
        </div>
    </div>

<div>
                <input type="submit" value="Fatto" class="btn btn-primary" />
</div>
}
