@model KarateMVC.Models.Eventi

<div >

    <h1>
        @Html.DisplayFor(model => model.Titolo)
   </h1>
    <h4 class="text-center">@Model.Data.ToString("ddd dd MMM yyyy")</h4>
    @if (Model.Data != Convert.ToDateTime("01/01/2050"))
    {
        <span class="h4">
            @if (User.IsInRole("Admin"))
            {
                    <a href="@Url.Action("EditImg", "Eventis", new{id = @Model.Evento_Id})" class="h3" title="Galleria"><span class="glyphicon glyphicon-camera"></span></a>
                    <a href="@Url.Action("Edit", "Eventis", new{id = @Model.Evento_Id})" class="text-danger h3" title="Testo"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="@Url.Action("EditImgP", "Eventis", new{id = @Model.Evento_Id})" class="text-primary h3" title="Bacheca"><span class="glyphicon glyphicon-picture"></span></a>
            }
        </span>
    }
<hr />
    @*Inizio storico*@
    @if (ViewBag.Eventi1Count > 0)
    {
        <span class="badge">Archivio: <em>@Model.NomeGara.NomeGara</em></span>
        <div class="galla3">

            @foreach (var itemEv in ViewBag.Eventi1)
            {
                <div>
                    <span>
                        <a href="@Url.Action("Evento", "Home", new {id = @itemEv.Evento_Id })" class="btn btn-xs btn-trasp">
                            <img src="@Url.Content("~/Content/Immagini/Eventi/" + @itemEv.Evento_Id + "/" + @itemEv.Evento_Id + ".jpg")" /><br />
                            @itemEv.Data.ToString("yyyy")
                        </a>
                    </span>
                </div>
            }
        </div>
        <hr class="hr1"/>
    }
    @*Fine storico*@

    <p>
        @Html.Raw(Model.Descrizione)
    </p>
</div>
@if (User.IsInRole("Download"))
{
    <div class="galla">

        @foreach (var item in ViewBag.Immagini)
        {
        var filename = Path.GetFileName(item);
            <div class="galla1">
                <span>
                    <a href="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + @filename)" targhet="_blank"><span class="glyphicon glyphicon-download-alt">Scarica</span></a><br />
                    <a href="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + @filename)" data-lightbox="example-set" targhet="_blank"><img class="example-image" src="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + @filename)" alt="" /></a>
                </span>

            </div>
        }
    </div>
}
else
{
    <div class="galla">
        @foreach (var item in ViewBag.Immagini)
                {
                    var filename = Path.GetFileName(item);
            <div>
                <span>
                    <a href="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + @filename)" data-lightbox="example-set"><img class="example-image" src="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + @filename)" alt="" /></a>
                </span>

            </div>
        }

    </div>

}
