@model KarateMVC.Models.Eventi


    <h1>
        @Html.DisplayFor(model => model.Titolo)
   </h1>
    <h4 class="text-center">@Model.Data.ToString("ddd dd MMM yyyy")</h4>
    @if (Model.Data != Convert.ToDateTime("01/01/2050"))
    {
        <span class="h4">
            @if (User.IsInRole("Admin"))
            {
                    <a href="@Url.Action("EditImg", "Eventis", new{id = @Model.Evento_Id})" class="h3" title="Galleria"><span class="glyphicon glyphicon-camera"></span></a>
                    <a href="@Url.Action("Edit", "Eventis", new{id = @Model.Evento_Id})" class="text-danger h3" title="Testo"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="@Url.Action("EditImgP", "Eventis", new{id = @Model.Evento_Id})" class="text-primary h3" title="Bacheca"><span class="glyphicon glyphicon-picture"></span></a>
            }
        </span>
    }
    @*Inizio storico*@
    @if (ViewBag.Eventi1Count > 0)
    {
        <a role="button" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
            <span class="fa fa-archive verde">Archivio: <strong><em>@Model.NomeGara.NomeGara</em></strong></span>
            <span class="fa fa-chevron-down fa-2x"></span>
        </a>
        <div class="collapse" id="collapse1">
            <div class="well">
                <div class="galla3">

                    @foreach (var itemEv in ViewBag.Eventi1)
                    {
                        <div>
                            <span>
                                <a href="@Url.Action("Evento", "Home", new {id = @itemEv.Evento_Id })" class="btn btn-xs verdeBack">
                                    <img src="@Url.Content("~/Content/Immagini/Eventi/" + @itemEv.Evento_Id + "/" + @itemEv.Evento_Id + ".jpg")" /><br />
                                    @itemEv.Data.ToString("yyyy")
                                </a>
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    @*Fine storico*@

    <p>
        @Html.Raw(Model.Descrizione)
    </p>
<hr />

@if (User.IsInRole("Download"))
{
    <div class="galla">

        @foreach (var item in ViewBag.Immagini)
        {
        var filename = Path.GetFileName(item);
            <div class="galla1">
                <span>
                    <a href="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + @filename)" targhet="_blank"><span class="glyphicon glyphicon-download-alt">Scarica</span></a><br />
                    <a href="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + @filename)" data-lightbox="example-set" targhet="_blank"><img class="example-image" src="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + @filename)" alt="" /></a>
                </span>

            </div>
        }
    </div>
}
else
{
    <div class="galla">
        @foreach (var item in ViewBag.Immagini)
                {
                    var filename = Path.GetFileName(item);
            <div>
                <span>
                    <a href="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + @filename)" data-lightbox="example-set"><img class="example-image" src="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + @filename)" alt="" /></a>
                </span>

            </div>
        }

    </div>

}

@if (Directory.Exists(Server.MapPath("~/Content/Video/Eventi/" + Model.Evento_Id + "/")))
{
    <div class="row">
        @foreach (var item in ViewBag.Video)
        {
            var filename = Path.GetFileName(item);
            <div class="col col-sm-6 col-md-4 text-center">
                <div class="embed-responsive embed-responsive-4by3">
                    <video controls="controls">
                        <source src="@Url.Content("~/Content/Video/Eventi/" + Model.Evento_Id + "/" + filename)" type="video/mp4" />
                    </video>
                </div>

            </div>
        }
    </div>

}
