@model IEnumerable<KarateMVC.Models.Eventi>

@{
    ViewBag.Title = "Home Page";
}
@if (ViewBag.AvvisoCount >0)
{
    <div class="jumbo img-responsive">

        <img class="img-responsive" src="~/Content/Immagini/ScrittaTrasparenteP.png" />
        @foreach (var item in ViewBag.Avviso)
        {
            <h1 class="text-center">@item.Titolo</h1>
            <h4 class="ckeditor">@Html.Raw(item.Descrizione)</h4><hr class="hr1" />

        }
    </div>

}
<div class="table table- div1 content" >
@foreach (var item in Model)
{
    <div class="text-center">

        <h4 class="text-center">@Html.DisplayFor(modelItem => item.Titolo)</h4>
        @if (item.Gara_Id != 19)
        {
            <h5 class="text-center">@item.Data.ToString("dddd dd MMM yyyy")</h5>

        }
        else
        {
            <h5> </h5>
        }
        <span>
            <a href="@Url.Action("Evento", "Home", new { id = item.Evento_Id })"><img src="@Url.Content("~/Content/Immagini/Eventi/" + item.Evento_Id + "/" + item.Evento_Id + ".jpg")" alt="" /></a>
        </span>
    </div>
}
</div>
