@model IEnumerable<KarateMVC.Models.Eventi>

@{
    ViewBag.Title = "Home Page";
}
@*Inizio jumbo avviso*@
@if (ViewBag.AvvisoCount >0)
{
    <div class="jumbo img-responsive">

        <img class="img-responsive" src="~/Content/Immagini/ScrittaTrasparenteP.png" />
        @foreach (var item in ViewBag.Avviso)
        {
            <hr />
            if (User.IsInRole("Admin"))
            {
                <div class="text-center">
                    <a href="@Url.Action("EditImg", "Eventis", new{id = @item.Evento_Id})" class="text-primary h3" title="Galleria"><span class="glyphicon glyphicon-camera"></span></a>
                    <a href="@Url.Action("Edit", "Eventis", new{id = @item.Evento_Id})" class="text-danger h3" title="Testo"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="@Url.Action("EditImgP", "Eventis", new{id = @item.Evento_Id})" class="text-primary h3" title="Bacheca"><span class="glyphicon glyphicon-picture"></span></a>

                </div>
            }
            <h1 class="text-center">
                @if (File.Exists(Server.MapPath("~/Content/Immagini/Eventi/" + @item.Evento_Id + "/" + @item.Evento_Id + ".jpg")))
                {
                <a href="@Url.Action("Evento", "Home", new {id = @item.Evento_Id })">@item.Titolo<img src="@Url.Content("~/Content/Immagini/Eventi/" + @item.Evento_Id + "/" + @item.Evento_Id + ".jpg")" class="img-jumbo" /></a>
                }
                
            </h1>
            <h4>@Html.Raw(item.Descrizione)</h4>
        }
    </div>
    <hr class="hr1" />
}
@*Fine jumbo avviso*@
    <!---Inizio intestazione mannequin chellenge-->
    <div class="row text-center">
        <a class="btn btn-primary btn-verde" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <div class="col col-md-3">
                <img class="img-usr" src="~/Content/Immagini/mannequin1.jpg" />

            </div>
            <div class="col col-md-6 text-center h3">
                    Mannequin challenge<br/>
                    Agonisti 2017
            </div>
            <div class="col col-md-3">
                <img class="img-usr" src="~/Content/Immagini/mannequin3.jpg" />

            </div>
        </a>
    </div>
    <div class="collapse" id="collapseExample">
        <div>
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YSgDD-SuJxo"></iframe>
                </div>
        </div>
    </div>
<!---Fine intestazione mannequin chellenge-->
@*Inizio galleria prima pagina*@

@foreach (var item in Model.GroupBy(a => a.Data.Year).Select(a => new { anno = a.Key, evento = a.OrderByDescending(e => e.Data) }))
{
    <hr class="hr1" />
    <div class="div1 content">
        <h1>@item.anno</h1>
        @foreach (var item1 in item.evento)
        {

        <div class="text-center">

                <h4 class="text-center">@Html.DisplayFor(modelItem => item1.Titolo)</h4>
                @if (item1.Gara_Id != 19)
                {
                    <h5 class="text-center">@item1.Data.ToString("dddd dd MMM yyyy")</h5>

                }
                else
                {
                    <h5> </h5>
                }
                <p>
                    <a href="@Url.Action("Evento", "Home", new { id = item1.Evento_Id })"><img src="@Url.Content("~/Content/Immagini/Eventi/" + item1.Evento_Id + "/" + item1.Evento_Id + ".jpg")" alt="" /></a>
                </p>
                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("EditImg", "Eventis", new{id = @item1.Evento_Id})" class="text-primary h4" title="Galleria fotografica"><span class="glyphicon glyphicon-camera"></span></a>
                    <a href="@Url.Action("Edit", "Eventis", new{id = @item1.Evento_Id})" class="text-danger h4" title="Testo"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="@Url.Action("EditImgP", "Eventis", new{id = @item1.Evento_Id})" class="text-primary h4" title="Bacheca"><span class="glyphicon glyphicon-picture"></span></a>
                    <a href="@Url.Action("EditVideo", "Eventis", new{id = @item1.Evento_Id})" class="text-primary h4" title="Video"><span class="fa fa-film"></span></a>
                }
        </div>

        }
    </div>
}
@*Fine galleria prima pagina*@
