@model IEnumerable<KarateMVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Palestra";
}

<h2>@ViewBag.Message</h2>
<div class="div2">
    La società nasce nel 1976 come Club Karate Caravaggio iniziando di
    fatto a Caravaggio l&#39;attività relativa al karate tradizionale
    aderendo alla FESIKA (federazione sportiva italiana karate). I primi
    corsi si tennero nella palestrina delle scuole elementari (nella
    foto qui a fianco) in piazza
    Locatelli. In verità la palestra era composta da due aule e i primi
    allievi si cambiavano nel corridoio.<br />
    <br />
    Dall&#39;inizio fino ad oggi, la società ha sempre seguito le
    indicazioni del maestro Hiroshi Shirai sia dal punto di vista
    tecnico che da quello &quot;politico&quot;. La società, seguendo le
    indicazioni de maestro, ha sempre aderito alle federazioni nazionali
    di karate tradizionale.
    <br />
    Attualmente e affiliata alla FIKTA (Federazione Italiana Karate
    Tradizionale e discipline affini), all ISI (Istituto Shotokan
    Italia) l'ente morale fondato dal M. Hiroshi Shirai e riferimento
    nazionale per il karate tradizionale.<br />
    <br />
    La società aderisce da anni alle attività associative di
    promozione dello sport di USACLI e AICS ed è da sempre presente alle
    attività agonistiche sportive nazionali ed internazionali, avendo
    tra i propri allievi rappresentanti delle squadre nazionali.<br />
    <br />
    I molti anni di attività, i numerosi sucessi in campo agonistico
    rendono la nostra società una delle più rappresentative del karate
    tradizionale in lombardia.<br />
</div><br/>
    <div class="galla">
        @foreach (var item in ViewBag.Immagini)
        {
            var filename = Path.GetFileName(item);
            <span >
                <a class="example-image-link" href="@Url.Content("~/Content/Immagini/Palestra/" + @filename)" data-lightbox="example-set"><img class="example-image" src="@Url.Content("~/Content/Immagini/Palestra/" + @filename)" alt="" /></a>
            </span>
        }

    </div>
<hr class="hr1" />
<h1>I nostri agonisti</h1>
<div class="div1 content">
    @foreach (var item in ViewBag.Agonisti)
    {
        <div>
            <h4 class="text-center"> @item.Nome</h4>
            <h3>
                @if (System.IO.File.Exists(Server.MapPath("~/Content/Immagini/FotoIscritti/" + @item.Id + ".jpg")))
                {
                    <a href="@Url.Action("Palmares", "Medaglieres", new {id = @item.Id })"><img src="@Url.Content("~/Content/Immagini/FotoIscritti/" + @item.Id + ".jpg")" /></a>
                }
                else
                {
                    <a href="@Url.Action("Palmares", "Medaglieres", new {id = @item.Id })"><img src="@Url.Content("~/Content/Immagini/FotoIscritti/Anonimous.jpg")" /></a>
                }
</h3>
        </div>
    }
</div>



