
@model KarateMVC.Models.ApplicationUser

@{
    ViewBag.Title = "Maestri - Istruttori";
}

<h2>@ViewBag.Title</h2>

<div>
    <h3>@Model.Cognome @Model.Nome</h3>
    <hr class="hr1" />
    <div class="row">
        <div class="col col-md-3">
            <img class="img-thumbnail" src="@Url.Content("~/Content/Immagini/FotoIscritti/" + Model.Id + ".jpg")" />
        </div>
        <div class="col col-md-9">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DataNascita)
                </dt>
                <dd>
                    @Model.DataNascita.ToString("dddd dd MMM yyyy")
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>
                    Anno inizio attività
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AnnoInizio)
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>
                    Grado
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Grado)
                </dd>
            </dl>
            @if (Model.Kata != null)
            {
                <dl class="dl-horizontal">
                    <dt>
                        Tukui kata
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Kata)
                    </dd>
                </dl>

            }
            @if (Model.Frase != null)
            {
                <dl class="dl-horizontal">
                    <dt>
                        La frase preferita
                    </dt>
                    <dd>
                        <div class="img-thumbnail">
                            <p class="text-center">
                                <span class="text-justify text-success">...@Model.Frase</span>
                            </p>
                        </div>
                    </dd>
                </dl>

            }

        </div>
    </div>
    @if (Directory.Exists(Server.MapPath("~/Content/Immagini/FotoPersonali/" + Model.Id + "/")))
    {
        <hr class="hr1" />
        <h2>Album fotografico</h2>
        <div class="galla">
            @foreach (var item in ViewBag.Immagini)
            {
                var filename = Path.GetFileName(item);
                <span><a href="@Url.Content("~/Content/Immagini/FotoPersonali/" + Model.Id +"/" + @filename)" data-lightbox="example-set">
                    <img class="example-image" src="@Url.Content("~/Content/Immagini/FotoPersonali/" + Model.Id +"/" + @filename)" alt="" /></a></span>
            }

        </div>

    }
</div>
