@model KarateMVC.Models.Medagliere

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medagliere</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titolo.Titolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titolo.Titolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.classifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classifica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Medagliere_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
