@model IEnumerable<KarateMVC.Models.WSKA2017>

@{
    ViewBag.Title = "Index";
}
<div class="text-center"><a href="@Url.Action("Evento", "Home", new {id = 93})" class="text-center"><img class="img-responsive aligncenter " src="~/Content/Immagini/logowska2017-350x114.png" /></a></div>

<h1>Prenota i biglietti del Campionato del mondo di Treviso</h1>
<ul class="list-unstyled">
    <li>
        <span class="fa fa-pencil-square-o"> La prenotazione dei biglietti non è vincolante</span>

    </li>
    <li>
        <span class="fa fa-pencil-square-o"> Potrai modificare e cancellare la prenotazione fino al <span class="text-danger">2 settembre.</span></span>
    </li>
    <li>
        <span class="fa fa-pencil-square-o"> Ricordati che puoi inserire una sola prenotazione</span>
    </li>
    <li>
        <span class="fa fa-pencil-square-o"> Pagherai i biglietti prenotati in palestra quando ti verranno consegnati</span>
    </li>
</ul><a href="#no" target="_blank"
<hr class="hr1" />
@if (ViewBag.Count == 0)
{
        <p>@Html.ActionLink("Prenota", "Create", null, new { @class = "btn btn-primary" })</p>
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Data
            </th>
            <th class="text-center">
                Q.tà
            </th>
            <th>
                Giorno
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Totale)
            </th>
            <th class="text-center">
                    @Html.DisplayNameFor(model => model.Pagato)
            </th>
            <th></th>
        </tr>

    </thead>

@foreach (var item in Model)
{
    <tr>
    <td>
    @if (File.Exists(Server.MapPath("~/Content/Immagini/FotoIscritti/" + @item.UId + ".jpg")))
    {
                <img class="img-usr" src="@Url.Content("~/Content/Immagini/FotoIscritti/" + @item.UId + ".jpg")" /><span> @item.Nome @item.Cognome</span>

    }
    else
    {
                <img class="img-usr" src="@Url.Content("~/Content/Immagini/FotoIscritti/Anonimous.jpg")" /><span>@item.Nome @item.Cognome</span>
    }

    </td>
    <td>
    @Html.DisplayFor(modelItem => item.DataP)
    </td>
    <td class="text-center">
    @Html.DisplayFor(modelItem => item.Numero)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Giorni)
    </td>
    <td class="text-right">
    @Html.DisplayFor(modelItem => item.Costo) €
    </td>
    <td class="text-right">
    @Html.DisplayFor(modelItem => item.Totale) €
    </td>
    <td class="text-center">
    @Html.DisplayFor(modelItem => item.Pagato)
    </td>
    <td>
    @if (@item.UId == ViewBag.Uid)
    {
        <span>
        @Html.ActionLink(" ", "Edit", new { id = item.Wska2017_id }, new { @class = "fa fa-pencil fa-2x text-success", @title = "Modifica" })
        @Html.ActionLink(" ", "Delete", new { id = item.Wska2017_id }, new { @class = "fa fa-trash fa-2x text-danger", @title = "Cancella" })
        </span>
    }
    </td>
    </tr>
}

</table>
