@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/lightbox.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr.custom.js"></script>
    <title>@ViewBag.Title - Shotokenshukai</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <a class="link-home" href='@Url.Action("Index", "Home")'><img src="~/Content/Immagini/ScrittaTrasparenteG.png" /><span class="scrittaLogo">Shotokenshukai Caravaggio</span></a>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navi">
                        <li><div><a href="@Url.Action("Appuntamenti", "Home")" class="glyphicon glyphicon-calendar"><span>Appuntamenti</span></a></div></li>
                        <li><div><a href="@Url.Action("Corsi", "Home")" class="glyphicon glyphicon-education"><span>Orari</span></a></div></li>
                        <li><div><a href="@Url.Action("Palestra", "Home")" class="glyphicon glyphicon-tower"><span>Palestra</span></a></div></li>
                        <li><div><a href="@Url.Action("Eventi", "Home")" class="glyphicon glyphicon-film"><span>Eventi</span></a></div></li>
                        @if (Request.IsAuthenticated)
                        {
                            <li><div><a href="@Url.Action("Download", "Home")" class="glyphicon glyphicon-download-alt"><span>Download</span></a></div></li>
                        }
                        @if (Request.IsAuthenticated && User.IsInRole("Agonista") | User.IsInRole("Ex agonista") | User.IsInRole("Maestro"))
                        {
                            <li><div><a href="@Url.Action("Agonisti", "Home")" class="glyphicon glyphicon-text-color"><span>Agonisti</span></a></div></li>
                        }
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li><div><a href="@Url.Action("Index", "RolesAdmin")" class="glyphicon glyphicon-tag"><span>Ruoli</span></a></div></li>
                            <li><div><a href="@Url.Action("Index", "UsersAdmin")" class="glyphicon glyphicon-user"><span>Utenti</span></a></div></li>
                            <li><div><a href="@Url.Action("Index", "Eventis")" class="glyphicon glyphicon-list-alt"><span>Eventi</span></a></div></li>
                            <li><div><a href="@Url.Action("Index", "Documentis")" class="glyphicon glyphicon-folder-open"><span>Documenti</span></a></div></li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </header>

    @*Menu destra fisso*@
    <div class="docu">
        <ul>
            <li>
                <a href="https://www.yammer.com/testkarate/#/home" target="_blank" title="Yammer">
                    <img src="~/Content/Immagini/Yammer.png" />
                </a>

            </li>
            <li>
                <a href="https://www.instagram.com/shotokenshukai/" target="_blank" title="Instagram">
                    <img src="~/Content/Immagini/instagram.png" />
                </a>

            </li>
        </ul>
    </div>

    <div class="container body-content">
        <img class="scittaLogoVerticale" src="~/Content/Immagini/LogoVerticale.png" />
        @RenderBody()
    </div>
        <footer>
        <div class="row">
            <div class="col col-md-4">
                <h5>
                    <strong>Shotokenshukai Caravaggio ASD</strong> ®2016
                </h5>
                <p>
                    <span class="glyphicon glyphicon-earphone verde"></span>  036353187 
                </p>
                <p>
                    <span class="glyphicon glyphicon-phone verde"></span>  3356255658
                </p>
                <p>
                    <span class="glyphicon glyphicon-envelope verde"></span>  cesare@cr-consult.eu
                </p>
                <p><span class="verde">C.F.</span> 93032200169</p>

            </div>
            <div class="col col-md-4">
                <h5><strong>Social</strong></h5>
                <a href="https://www.yammer.com/testkarate/#/home"><img class="img-social" src="~/Content/Immagini/Yammer.png" /></a> <br/><br/>
                <a href="https://www.instagram.com/shotokenshukai/"><img class="img-social" src="~/Content/Immagini/instagram.png" /></a> <br />
            </div>
            <div class="col col-md-4 text-right">
                <a href="http://www.cr-consult.eu"> <span>Almish<span style="color:#FF0000" lang="it">&amp;</span>Cesàre<span style="color:#FF0000">W</span>eb</span></a>

            </div>
        </div>
        </footer>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/lightbox-plus-jquery.min.js")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
    <script src="~/Scripts/jquery.filtertable.min.js"></script>
    <script>
	$(document).ready(function() {
		$('.tablef').filterTable();
	});
    </script>

</body>
</html>
